header {
    width: 100%;
    height: 60px;
    background-color: #040b3e;
    
}

.logo {
    font-family: 'Bruno Ace SC', cursive;
    color: white;
}

b {
    color: #21aed9;
}

.containerHeader {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input-busca{
    width: 40%;
    height: 40px;
}

.carrinhoCompras{
    color: white;
    display: flex;
    position: relative;
    width: 45px;
    cursor: pointer;
}
.carrinhoCompras h1{
    color: white;
    
}
.carrinhoCompras span{
    color: white;
    font-weight: bolder;
    width: 22px;
    height: 22px;
    text-align: center;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    right: 0;
}