<section>
    <div class="container">
        <h1>Lista de produtos</h1>

        <div class="listagem">

            <div class="card-produtos">
                <img src="./assets/fone.png" alt="">
                <hr>
                <h2>Fone de Ouvidos</h2>
                <h2>R$99,99</h2>
                <button class="btn-card">Comprar</button>
            </div>

            <div class="card-produtos">
                <img src="./assets/fone.png" alt="">
                <hr>
                <h2>Fone de Ouvidos</h2>
                <h2>R$99,99</h2>
                <button class="btn-card">Comprar</button>
            </div>

            <div class="card-produtos">
                <img src="./assets/fone.png" alt="">
                <hr>
                <h2>Fone de Ouvidos</h2>
                <h2>R$99,99</h2>
                <button class="btn-card">Comprar</button>
            </div>

            <div class="card-produtos">
                <img src="./assets/fone.png" alt="">
                <hr>
                <h2>Fone de Ouvidos</h2>
                <h2>R$99,99</h2>
                <button class="btn-card">Comprar</button>
            </div>
            
            <div class="card-produtos">
                <img src="./assets/fone.png" alt="">
                <hr>
                <h2>Fone de Ouvidos</h2>
                <h2>R$99,99</h2>
                <button class="btn-card">Comprar</button>
            </div>
            
            <div class="card-produtos">
                <img src="./assets/fone.png" alt="">
                <hr>
                <h2>Fone de Ouvidos</h2>
                <h2>R$99,99</h2>
                <button class="btn-card">Comprar</button>
            </div>

        </div>
    </div>
</section>