<section>
    <div class="container">
        <div class="flex">
            <h1>Lista de produtos</h1>
            <btn-troca-modo></btn-troca-modo>
        </div>
        <div class="listagem" >
            <div class="card-produtos" *ngFor="let card of listaProdutos">
                <img [src]="card.imagemProduto" [alt]="card.nomeProduto">
                    <hr>
                <h2>{{card.nomeProduto}}</h2>
                <h2>{{card.precoProduto | currency:'R$ ':'symbol':'1.2-2'}}</h2>
                <button class="btn-card" (click)="addCarrinho(card)">Comprar</button>
            </div>
        </div>
    </div>
</section>