@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;   
}

:root{
    --bodyColor:rgb(12, 12, 12);
    --textColor:white;
    --bgScroll: #444343;
    --bgScrollThumb: #a1a0a0;

    --placeholderColor:rgb(214, 214, 214);
    --shadowInput: 0 0 5px rgba(255, 255, 255, 0.952);

    --cardColor:#363636;

    --boxColor:black;
    --boxDivisorColor: white;
}

:root .ligthMode{
    --bodyColor: rgb(255, 255, 255);
    --textColor: black;
    --bgScroll: #a1a0a0;
    --bgScrollThumb: #444343;

    --placeholderColor:rgb(58, 58, 58);
    --shadowInput: 0 0 5px rgba(255, 255, 255, 0.952);

    --cardColor: #efefef;

    --boxColor: rgb(194, 194, 194);
    --boxDivisorColor:black;
}

::-webkit-scrollbar{
    background-color: var(--bgScroll);
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--bgScrollThumb);
    border-radius: 10px;
}

html,body{
    height: 100%;
    background-color: var(--bodyColor);
}

input:focus{
    outline: none;
}

.container{
    width: 80%;
    margin: 0 auto;
}


p,span,h1,h2,h3,h4,h5{
    color: var(--textColor);
}